<template>
  <b-form>
    <b-form-group
      label-cols-sm="2"
      label="Titel (deutsch)"
      label-for="title-de"
    >
      <b-form-input id="title-de" v-model="title.de"/>
    </b-form-group>

    <b-form-group
      label-cols-sm="2"
      label="Titel (englisch)"
      label-for="title-en"
    >
      <b-form-input id="title-en" v-model="title.en"/>
    </b-form-group>

    <b-form-row>
      <b-button
        variant="primary"
        class="ml-auto"
        :href="gitlabUrl"
        target="_blank"
      >
        <template v-if="initialData">category.yml aktualisieren</template>
        <template v-else>category.yml erzeugen</template>
      </b-button>
    </b-form-row>
  </b-form>
</template>

<script>
  import slugify from 'slug'

  export default {
    props: {
      initialData: {
        type: Object,
        required: false,
        default: () => null
      }
    },

    data() {
      return {
        title: { de: '', en: '' },
        ...this.initialData
      }
    },

    computed: {
      gitlabUrl() {
        const { category = slugify(this.title.de) } = this.$route.params
        const fileName = `products/${category}/category.yml`

        const title = {
          de: this.title.de.replace(/'/g, "''"),
          en: this.title.en.replace(/'/g, "''")
        }

        const content = encodeURIComponent(
          `
title:
  de: '${title.de}'
  en: '${title.en}'
`.trimStart()
        )

        const baseUrl = 'https://gitlab.com/bastianmelnyk/shop'

        if (this.initialData) {
          return `${baseUrl}/edit/master/${fileName}?content=${content}`
        } else {
          return `${baseUrl}/new/master?file_name=${fileName}&content=${content}`
        }
      }
    }
  }
</script>
