<template>
  <div>
    <h1 class="h3 mt-3 mb-3">
      Editor für
      <b-link href="https://bastianmelnyk.gitlab.io/shop/">https://bastianmelnyk.gitlab.io/shop/</b-link>
    </h1>

    <b-breadcrumb
      v-if="breadcrumbItems"
      :items="breadcrumbItems"
    />
  </div>
</template>

<script>
  export default {
    props: {
      breadcrumbItems: {
        type: Array,
        required: false,
        default: null
      }
    }
  }
</script>
