<template>
  <b-form>
    <b-form-group
      label-cols-sm="2"
      label="Titel (deutsch)"
      label-for="title-de"
    >
      <b-form-input id="title-de" v-model="title.de"/>
    </b-form-group>

    <b-form-group
      label-cols-sm="2"
      label="Titel (englisch)"
      label-for="title-en"
    >
      <b-form-input id="title-en" v-model="title.en"/>
    </b-form-group>

    <b-form-group
      label-cols-sm="2"
      label="Beschreibung (deutsch)"
      label-for="description-de"
    >
      <b-textarea id="description-de" v-model="description.de" rows="5"/>
    </b-form-group>

    <b-form-group
      label-cols-sm="2"
      label="Beschreibung (englisch)"
      label-for="description-en"
    >
      <b-textarea id="description-en" v-model="description.en" rows="5"/>
    </b-form-group>

    <b-form-group
      label-cols-sm="2"
      label="Preis (in Euro)"
      label-for="price"
    >
      <b-form-input id="price" v-model="price" type="number" step="0.01" number/>
    </b-form-group>

    <b-form-group
      label-cols-sm="2"
      label="verfügbar"
      label-for="available"
    >
      <b-checkbox id="available" v-model="available"/>
    </b-form-group>

    <b-form-row>
      <b-button
        variant="primary"
        class="ml-auto"
        :href="gitlabUrl"
        target="_blank"
      >
        <template v-if="initialData">product.yml aktualisieren</template>
        <template v-else>product.yml erzeugen</template>
      </b-button>
    </b-form-row>
  </b-form>
</template>

<script>
import slugify from 'slug'

export default {
  props: {
    initialData: {
      type: Object,
      required: false,
      default: () => null
    }
  },

  data() {
    return {
      title: { de: '', en: '' },
      description: { de: '', en: '' },
      price: 0,
      available: false,
      ...this.initialData
    }
  },

  computed: {
    gitlabUrl() {
      const { category, product = slugify(this.title.de) } = this.$route.params
      const fileName = `products/${category}/${product}/product.yml`

      const title = {
        de: this.title.de.replace(/'/g, "''"),
        en: this.title.en.replace(/'/g, "''")
      }

      const description = {
        de: this.description.de
          .split('\n')
          .map(line => `    ${line}`)
          .join('\n')
          .trimEnd(),
        en: this.description.en
          .split('\n')
          .map(line => `    ${line}`)
          .join('\n')
          .trimEnd()
      }

      const content = encodeURIComponent(
        `
title:
  de: '${title.de}'
  en: '${title.en}'
description:
  de: |
${description.de}
  en: |
${description.en}
price: ${this.price}
available: ${this.available}
`.trimStart()
      )

      const baseUrl = 'https://gitlab.com/bastianmelnyk/shop'

      if (this.initialData) {
        return `${baseUrl}/edit/master/${fileName}?content=${content}`
      } else {
        return `${baseUrl}/new/master?file_name=${fileName}&content=${content}`
      }
    }
  }
}
</script>
