<template>
  <b-container>
    <page-header/>

    <b-card no-body header="Kategorien">
      <b-list-group flush>
        <template v-if="categories">
          <b-list-group-item
            v-for="categoryId in categories"
            :key="categoryId"
          >
            <b-link :to="`/${categoryId}`">{{ categoryId }}</b-link>
          </b-list-group-item>
        </template>

        <b-list-group-item v-else>einen Moment bitte…</b-list-group-item>
      </b-list-group>
    </b-card>

    <b-card no-body header="Neue Kategorie " class="mt-3">
      <category-form class="p-3"/>
    </b-card>
  </b-container>
</template>

<script>
import { fetchCategories } from '~/lib/api'

import CategoryForm from '~/components/category-form'
import PageHeader from '~/components/page-header.vue'

export default {
  components: {
    CategoryForm,
    PageHeader
  },

  async asyncData() {
    const categories = await fetchCategories()
    return { categories }
  },

  data() {
    return {
      categories: null
    }
  },

  async mounted() {
    this.categories = await fetchCategories()
  }
}
</script>
