<template>
  <b-container>
    <page-header :breadcrumb-items="breadcrumbItems"/>

    <product-form
      v-if="productData"
      :initial-data="productData"
    />

    <p v-else>einen Moment bitte…</p>
  </b-container>
</template>

<script>
import { fetchProductData } from '~/lib/api'

import PageHeader from '~/components/page-header.vue'
import ProductForm from '~/components/product-form.vue'

export default {
  components: {
    PageHeader,
    ProductForm
  },

  async asyncData({ params }) {
    const { category, product } = params
    const productData = await fetchProductData(category, product)
    return { productData }
  },

  data() {
    return {
      productData: null
    }
  },

  computed: {
    categoryId() {
      const { category } = this.$route.params
      return category
    },

    productId() {
      const { product } = this.$route.params
      return product
    },

    breadcrumbItems() {
      return [
        {
          text: 'Kategorien',
          to: '/'
        },
        {
          text: this.categoryId,
          to: `/${this.categoryId}`
        },
        {
          text: 'Produkte',
          active: true
        },
        {
          text: this.productId,
          active: true
        }
      ]
    }
  },

  async mounted() {
    this.productData = await fetchProductData(this.categoryId, this.productId)
  }
}
</script>
