<template>
  <b-container>
    <page-header :breadcrumb-items="breadcrumbItems"/>

    <b-card no-body header="Produkte">
      <b-list-group flush>
        <template v-if="products">
          <b-list-group-item
            v-for="productId in products"
            :key="productId"
          >
            <b-link :to="`/${categoryId}/${productId}`">{{ productId }}</b-link>
          </b-list-group-item>
        </template>

        <b-list-group-item v-else>einen Moment bitte…</b-list-group-item>
      </b-list-group>
    </b-card>

    <b-card no-body header="Kategorie bearbeiten" class="mt-3">
      <category-form class="p-3"
                     v-if="categoryData"
                     :initial-data="categoryData"
      />
    </b-card>

    <b-card no-body header="Neues Produkt" class="mt-3">
      <product-form class="p-3"/>
    </b-card>
  </b-container>
</template>

<script>
import { fetchCategoryData, fetchCategoryProducts } from '~/lib/api'

import CategoryForm from '~/components/category-form.vue'
import PageHeader from '~/components/page-header.vue'
import ProductForm from '~/components/product-form.vue'

export default {
  components: {
    CategoryForm,
    PageHeader,
    ProductForm
  },

  async asyncData({ params }) {
    const { category } = params
    const categoryData = await fetchCategoryData(category)
    const products = await fetchCategoryProducts(category)
    return { categoryData, products }
  },

  data() {
    return {
      categoryData: null,
      products: null
    }
  },

  computed: {
    categoryId() {
      const { category } = this.$route.params
      return category
    },

    breadcrumbItems() {
      const { title } = this.categoryData || {}
      const text = title
        ? `${this.categoryId} (${title.de} / ${title.en})`
        : this.categoryId

      return [
        {
          text: 'Kategorien',
          to: '/'
        },
        {
          text,
          active: true
        }
      ]
    }
  },

  async mounted() {
    this.categoryData = await fetchCategoryData(this.categoryId)
    this.products = await fetchCategoryProducts(this.categoryId)
  }
}
</script>
